<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>联系lily</h4>
        <p>手机：1111111111</p>
        <p>邮箱：1111111111@qq.com</p>
      </div>
      <div class="col-md-3">
        <h4>我要加盟</h4>
        <p>加盟事项</p>
      </div>
      <div class="col-md-3">
        <h4>关于</h4>
        <p>开发商</p>
      </div>
      <div class="col-md-3">
        <h4>责任</h4>
        <p>免责声明</p>
      </div>
    </div>
  </div>
  <div class="bottom">2016 © Magpie Labs, Inc.</div>
</div>
