@charset "UTF-8";


body{
	background: #f2f2f2;
}

/*margin-top 几个 size*/
$topSize: (margintop5:5px,margintop10:10px,margintop50:50px,margintop100:100px);
@each $header, $size in $topSize {
  .#{$header} {
    margin-top: $size;
  }
}
/*padding-top 几个 size*/
$topSize: (paddingtop5:5px,paddingtop10:10px,paddingtop50:50px,paddingtop100:100px);
@each $header, $size in $topSize {
  .#{$header} {
    padding-top: $size;
  }
}

/*font-size 几个 size*/
$fontSize: (fontsize12:12px,fontsize14:14px,fontsize16:16px,fontsize20:20px);
@each $header, $size in $fontSize {
  .#{$header} {
    font-size: $size;
  }
}
.headerbg{
  background-color: rgba(0,0,0,0.1);
  border-color: rgba(0,0,0,0.1);
}
.bodybg{
	width:100%;
	height:560px;
	background: #FFF url(../images/lb1.jpg) no-repeat left bottom;
}

.logoimg {
  position: absolute;
  width:100%;
  text-align:center;
  top: 526px;
}

.footer{
  background:#373B44;
  h4{
    color:white;
  }
  p{
    color:rgb(204, 204, 204);
  }
  & .bottom{
    width:100%;
    text-align:center;
    height: 50px;
    line-height: 50px;
    color:white;
    background-color:#3E424B;
  }
}
